* {
  background-color: #f8f8f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0px 80px;
}

h1 {
  text-align: center;
}

.recipes-list {
  font-weight: bold;
  font-size: 28px;
  padding-left: 30%;
}

a {
  font-family: "Courier New", Courier, monospace;
}

img {
  height: 300px;
  width: auto;
}

.img-wrapper {
  text-align: center;
}

.ingredients {
  color:darkred;
}

.steps {
  color:indigo;
}