* {
  background-color: #f8f8f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0px 80px;
}

h1 {
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

.img-wrapper {
  text-align: center;
}

.ingredients {
  color:darkred;
}

.steps {
  color:indigo;
}